*{
	m0
}
body.index
{
	margin: 40px;
	padding: 0px;
	word-spacing: 5px;
	letter-spacing: 5px;
    text-align: center;
    font-family: Didot, serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
    min-height: 8px;
}
.error{
		font-size: 20px;
		color:#fb2525;}



   .fog{
   	height: 500px;
   	width: 500px;
   	position: absolute;
   	top: 30%;
   	left: 200%;

}

.loginbox{
	width: 420px;
	height: 650px;
	background: #000;
	color: #fff;
	top: 25%;
	left: 10%;
	position: absolute;
box-sizing: border-box;
padding: 110px 0px 0px;


}
.avatar{
	width: 200px;
	height: 200px;
	position: absolute;
	top: -100px;
	left: calc(50% - 100px);

}

h1{
	margin: 0;
	padding: 0px 0px 40px;
	text-align: center;
	font-size: 50px; 
}



.loginbox p {
	margin: 0;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 3px;
}
.loginbox input{
	width: 65%;
	padding: 12px 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
.loginbox label{
	font-size: 30px;
	text-align: center;


}
.loginbox select{
	width: 65%;
	height: 10px;
	padding:40px 0px 0px; 

}
.lodinbox button{
	width: 60%;
	height: 60%;
}
.loginbox input[type="text"], input[type="password"], input[type="Division"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	padding: 05px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;

}

/* user page*/
body.user{
	font-weight: bold;
    font-size:40px;
    padding: 10px;
	background:#f6f6f6; 
}



body header.appname{
	float: left;
	font-size: 50px;

}
body header .loggedin{
	/*float: right;*/
	font-size: 20px;
    top: 5%;
}

.salary{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 20%;
    left: 60%;
    border-radius: 40px;
}
.salarybox input[type="submit"]
{
    border: none;
    outline: none;
    width: 400px;
    height: 100px;
    background: #d12208;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;


}
.salarybox input[type="submit" ]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
/*new user*/
body div.registionbox{
    width: 600px;
    height: 1200px;
    background: #000;
    color: #fff;
    top: 90%;
    left: 45%;
    position: absolute;
    transform: translate(-40%,-50%);
box-sizing: border-box;
    padding:0px 0px 0px;
}
h1{
    margin: 0;
    padding: 10px 0px 40px;
    text-align: center;
    font-size: 40px; 
    text-align: center;
}
.registionbox p {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
    padding:0px 0px 0px 60px;
    text-align:left;
}
.registionbox input{
    width: 65%;
    padding: 12px 30px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;

}
.registionbox input[type="submit"]
{
    border: none;
    outline: none;
    width: 400px;
    height: 50px;
    background: #d12208;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;


}
.registionbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  margin-top: 5em;
}

.btn-group button a {

	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	font-size: 1.5em;
	text-decoration: none;
	
	
  }

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}